:root {
    --bg: #f6f8fa;
    --blue: #46acf5;
    --violet: #9e73e4;
    --mint: #61c0a5;
    --orange: #e8a133;
    --pink: #d9659e;
    --green: #adc826;
    --font: "Roboto", serif;
    --font-title: 4em;
    --font-main: 1.2em;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    font-family: var(--font)
}

header {
    padding: 20px 30px;
    background: #FFF;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo-img {
    vertical-align: middle;
    margin-right: 10px;
    height: 80px;
}

#title {
    display: inline-block;
    vertical-align: middle;
    font-size: var(--font-title);
    color: #000;
}

.task-section {
    width: 1300px;
    height: 700px;
    margin: 80px auto;
    background: #FFF;
    font-size: var(--font-main);
}

.task-options {
    width: 80%;
    margin: auto;
    padding: 20px 0;

}

.task-list {
    width: 80%;
    margin: 50px auto;
    padding: 20px 0;
}

.btn {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 20px;
    border: 1px solid #e2e2e2;
    background-color: transparent;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

.bg-blue {
    background: var(--blue);
}